.box {
  display: flex;
  flex-direction: row;
  width: 1280px;
  padding: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 20px;
  width: 800px;
}
.btn {
  background-color: #007bff;
  max-width: 100px;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  width: 200px;

  padding-top: 20px;
}
